<div class="columns">
    <div class="column"></div>
    <div class="column mt-6 is-half">
        <canvas id="ctx"></canvas>
    </div>
    <div class="column"></div>
</div>
<script>
    var ctx = document.getElementById("ctx");
    var data = {
        datasets: [{
            data: [10, 20, 30, 20, 30],
            backgroundColor: [
                'rgba(255, 190, 11, 0.4)',
                'rgba(251, 86, 7, 0.4)',
                'rgba(255, 0, 110, 0.4)',
                'rgba(131, 56, 236, 0.4)',
                'rgba(58, 134, 255, 0.4)'
            ],
            borderColor: [
                'rgba(255, 190, 11, 1)',
                'rgba(251, 86, 7, 1)',
                'rgba(255, 0, 110, 1)',
                'rgba(131, 56, 236, 1)',
                'rgba(58, 134, 255, 1)'
            ],

        }],
    };
    var options = {
        legend: {
            display: false
        },
        tooltips: {
            enabled: false
        }
    }
    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        options: options
    });

</script>